<div id="bigshowcontainer">
	<div class="links-container">
		<%= link_to "Home", root_path %>
		<%= link_to "Yesterday", yesterday_horoscope_path(@horoscope) %>
		<%= link_to "Today", horoscope_path(@horoscope) %>
		<%= link_to "Tomorrow", tomorrow_horoscope_path(@horoscope) %>
	</div>
	<div id="show-container">
		<div id="results-container">
			<div id="<%= @horoscope.name %>">
			<u>Date</u> :
			<%= @parsed_date %></strong>
			<br></br>

			<u>Forecast</u>: 
			<br></br>
			<i>"<%= @parsed_horoscope %>"</i>
			<br></br>

			<u>Mood</u>: <%= @parsed_mood %>
			<br></br>

			<u>Intensity</u>: <%= @parsed_intensity %>
		</div>
	</div>

	<div id="disqus_thread"></div>
		<script>
		    /**
		     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		     */
		    /*
		    var disqus_config = function () {
		        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		    };
		    */
		    (function() {  // DON'T EDIT BELOW THIS LINE
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//lovelace-ada.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
</div>
