<%= link_to "Home", root_path %>
<div id="show-container">
	<h2><%= @horoscope.name %></h2>
	<img src="<%= @horoscope.img %>" />
	<div id="results-container">
		<strong><%= @parsed_date %></strong>
		<br></br>

		<strong>Forecast: </strong>
		<br>
		<%= @parsed_horoscope %>
		<br></br>

		<strong>Mood: </strong><%= @parsed_mood %>
		<br></br>

		<strong>Intensity: </strong><%= @parsed_intensity %>
	</div>
</div>

<div id="links-container">
	<%= link_to "Yesterday", yesterday_horoscope_path(@horoscope) %>
	<%= link_to "Today", horoscope_path(@horoscope) %>
	<%= link_to "Tomorrow", tomorrow_horoscope_path(@horoscope) %>
</div>